small{
    color: rgb(49, 11, 162);
    color: #0fd412;
    color: #5742dd;
    color: rgb(255, 0, 0);
    text-transform: uppercase;
    word-spacing: 10px;
    letter-spacing: 2px;
    line-height: 40px;
}