/* Universal Selector */

* {
    color: rgb(13, 12, 12);
    margin: 0;
    padding: 0;
}
 /* tag selector/ element selector */
h1{
    color: rgb(255, 68, 0);
    text-align: center;
}

/* attribute selector */

a[title="google"] {
    color: green;
}

/* id selector */
#idselector {
    color: blue;
    font-size: 20px;
}

.classselector{
    color: brown;
    text-transform: capitalize;
    font-size: 20px;
    text-indent: 50px;
}

/* Descendant Selector */
.desc span{
    color: blue;
}


/* Child Selector */
.child > a{
    color: green;
}

/* Pseudo */
a:link {
    color: red;
    text-decoration: none;
}

a:hover {
    color: rgb(7, 151, 58);
    letter-spacing: 10px;
}

a:active {
    color: rgb(111, 0, 255);
    text-decoration: none;
}

a:visited {
    color: rgb(111, 0, 255);
    text-decoration: none;
}

/* target */

:target{
    color: red;
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 5px;
}

/* bordrer */

.borderOne{
    border: 5px double rgb(5, 189, 33);
}

/* size style color */


.borderTwo{
    border-bottom: 5px solid rgb(254, 1, 1)
    /* border-bottom: 10px; */
    /* border-left: 5px solid rgb(254, 1, 1); */
    /* border-right: 5px solid rgb(254, 1, 1); */
}

/* border width */
.borderThree{
    border-style: solid;
    /* border-width: 10px; */
    /* T / R / B / L */
    /* border-width: 5px 50px; */
    /* T&B / L&R */
    /* border-width: 5px 10px 50px; */
    /* T / L&R */
    border-width: 5px 10px 15px 20px;
    /* T / R / B / L */
}
    
/* border style */
.borderFour{
    /* border-style: solid; */
    /* border-style: dotted solid; */
    /* border-style: dotted dashed solid; */
    border-style: dotted dashed solid double;
    border-width: 5px;
    border-color: green yellow red blue;
}

/* margin lesson */
.marginOne{
    /* margin: 10px; */
    border: 2px solid rgb(235, 7, 7);
    /* margin: 50px 0px 0px 0px; */
    margin-top: 50px;
}



/* padding */

.paddingOne{
    border: 2px solid rgb(235, 7, 7);
    /* padding: 50px ; */

    padding-left: 50px;

}

/* inline layout */

.inline{
    border: 2px solid rgb(235, 7, 7);
    width: 300px;
    display: inline-block;
}

.block{
    border: 2px solid rgb(0, 253, 93);
    width: 300px;
    display: inline-block;
}




/* float */
.float_right_img{
    width: 50%;
    height: 700px;
    float: right;
    /* float: inline-end; */
    /* float: inline-start; */
    /* float: left; */
    /* float: initial; */
}

.clear{
    clear: both;
}

.float_left_img{
    width: 50%;
    height: 700px;
    float: left;
    /* float: inline-end; */
    /* float: inline-start; */
    /* float: left; */
    /* float: initial; */
}

/* flex */
.flex{
    display: flex;
    flex-direction: row;
    /* flex-direction: column; */
    /* flex-direction: row-reverse; */
    /* flex-direction: column-reverse; */
    /* justify-content: space-between; */
    align-items: center;
    /* top and button */
    justify-content: center;
    height: 100px;
    background-color: red;
}

/* grid */
.grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    /* grid-template-rows: max-content; */
    /* grid-template-columns: auto auto auto; */
    /* grid-row-gap: 40px;
    grid-column-gap: 30px; */
    /* grid-gap: 30px; */

}

.grid_child{
    padding: 20px;
    text-align: center;
    color: aliceblue;
}

.grid_child, .grid div{
    padding: 20px;
    text-align: center;
    color: aliceblue;
}

.row_add{
    grid-column-start: 2;
    grid-row-start: 1;
    grid-row-end: 3;
}

.column_add{
    grid-column-start: 2;
    grid-column-end: 4;
}

/* .media{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
} */

.media img{
    width: 100%;
}


/* @media screen and (max-width: 1024px){
    .media{
        grid-template-columns: repeat(3, 1fr);
    }
}

@media screen and (max-width: 768px){
    .media{
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 600px){
    .media{
        grid-template-columns: repeat(1, 1fr);
    }
} */

/* mobile frist */

.media{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 20px;
}
@media screen and (min-width: 600px){
    .media{
        grid-template-columns: repeat(2, 1fr);
    }
}
@media screen and (min-width: 768px){
    .media{
        grid-template-columns: repeat(3, 1fr);
    }
}
@media screen and (min-width: 1024px){
    .media{
        grid-template-columns: repeat(4, 1fr);
    }
}
.position_relative{
    border: 2px solid red;
    width: 1000px;
    height: 500px;
}
.position_relative_child{
    border: 2px solid green;
    width: 500px;
    height: 200px;
    position: relative;
    /* top bottom left right */
    top: 5px;
    left: 50px;
}
.position_absolute{
    border: 2px solid brown;
    width: 1000px;
    height: 500px;
    position: relative;
}
.position_absolute_child{
    border: 2px solid yellow;
    width: 500px;
    height: 200px;
    position: absolute;
    top: 50px;
    right: 50px;
    /* left: 50px; */
}
.fixed{
    position: fixed;
    top: 50px;
    right: 50px;
}

/* online font */
.online_font{
  font-family: "Playwrite GB J", cursive;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 30px;
}

/* offline font */
@font-face {
    font-family: "a";
    src: url(Dancing_Script/static/DancingScript-Bold.ttf)
}

.offline_font{
    font-family: a;
    font-size: 50px;
}

