/* Universal Selector */

* {
    color: rgb(13, 12, 12);
}
 /* tag selector/ element selector */
h1{
    color: rgb(255, 68, 0);
    text-align: center;
}

/* attribute selector */

a[title="google"] {
    color: green;
}

/* id selector */
#idselector {
    color: blue;
    font-size: 20px;
}

.classselector{
    color: brown;
    text-transform: capitalize;
    font-size: 20px;
    text-indent: 50px;
}

/* Descendant Selector */
.desc span{
    color: blue;
}


/* Child Selector */
.child > a{
    color: green;
}

/* Pseudo */
a:link {
    color: red;
    text-decoration: none;
}

a:hover {
    color: rgb(7, 151, 58);
    letter-spacing: 10px;
}

a:active {
    color: rgb(111, 0, 255);
    text-decoration: none;
}

a:visited {
    color: rgb(111, 0, 255);
    text-decoration: none;
}

/* target */

:target{
    color: red;
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 5px;
}